<a href="https://colab.research.google.com/github/geotech-ia/natalidad_cali/blob/main/Graficas_nacimientos_87_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conexión del contenido del Drive Geotech IA Solutions a cuaderno de Google Colab

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

Importar librería Pandas y la tabla de nacimientos por barrios de estratos 5 y 6 en Cali y creacion del Data Frame

In [6]:
import pandas as pd
data_route = '/content/gdrive/MyDrive/Nacimientos_1987_2017_barrios.csv'
df = pd.read_csv(data_route)

Consulta de la primera fila de la tabla importada correspondiente al barrio con mayor numero de nacimientos ocurridos entre 1987 y 2017 en viviendas de estratos 5 y 6 en Cali

In [7]:
df.iloc[0]

barrio    Parcelaciones Pance
total                    4328
nac_87                     97
nac_88                    107
nac_89                     99
nac_90                    120
nac_91                    120
nac_92                    123
nac_93                    147
nac_94                    155
nac_95                    154
nac_96                    176
nac_97                    203
nac_98                    195
nac_99                    184
nac_00                    162
nac_01                    150
nac_02                    181
nac_03                    149
nac_04                    174
nac_05                    136
nac_06                    177
nac_07                    148
nac_08                    133
nac_09                    141
nac_10                    122
nac_11                    126
nac_12                    137
nac_13                    111
nac_14                    114
nac_15                    118
nac_16                     83
nac_17                     86
Name: 0, dtype: object